/* src/pages/Dashboard.css */
.dashboard-background {
    background-image: url('../../assets/img/onda-fondo.png');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    color: white;
  }
  