@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Righteous&display=swap');

:root {
  --azul: #04172b;
  --morado: #65348c;
  --morado2: #2d173c;
  --morado3: #261333;
}

#root {
  width: 100%; 
  margin: 0 auto;
  text-align: initial;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Righteous", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}


body {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  background-color: #04172b; /* Cambia el color de fondo temporalmente si es necesario */
  color: white;
  margin: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* Ocultar flechas de navegación */
.swiper-button-next,
.swiper-button-prev {
  display: none;
}

/* Personalizar los puntos de paginación */
.swiper-pagination-bullet {
  background-color: white; /* Cambiar a blanco */
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: white; /* Cambiar a blanco */
  opacity: 1;
}


