@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --azul: #04172b;
  --morado: #65348c;
  --morado2: #2d173c;
  --morado3: #261333;
}

#root {
  width: 100%; 
  margin: 0 auto;
  text-align: initial;
}

body {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  background-color: #04172b; /* Cambia el color de fondo temporalmente si es necesario */
  color: white;
  margin: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
